* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: auto;
}

/*Portrait mode*/
@media only screen and (max-width: 1080px) {
  .intro {
    position: relative;
    top: -15px;
    right: -50px;
  }
  hr {
    position: relative;
    top: 30px;
    height: 70%;
    margin: 0 0px 0 50px;
  }
}

@media only screen and (min-width: 1081px) {
  hr {
    position: relative;
    top: 15px;
    height: 70%;
    margin: 0 0px 0 50px;
  }
}

html {
  background: #f7882f;
  width: 100%;
  height: auto;
}

.header {
  background: url("../Resources/bgL.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  width: 100%;
  max-width: 1920px;
  height: 100px;
  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;

  border-radius: 10px;
  box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.8);
}

.head {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  border-radius: 30px;
}

.readMe {
  display: flex;
  justify-content: center;
  /* vertical-align: center; */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  height: 100px;
  padding: 0;
  text-align: center;
}

.card {
  overflow-x: auto;
  margin: 2em auto;

  width: 95%;

  border-left: 6px solid seagreen;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  background: #dcc7aa;
  color: #273c5a;
  font-size: larger;
  text-align: center;
  font-family: "Courgette";
}
#player {
  width: 100px;
}
.card h2 {
  font-size: 2em;
  color: #2e1616;
}

.card p {
}

td {
  padding: 0.5em 2em;
  font-size: 1em;

  color: #1b1d24;
}

.fa-paperclip {
  font-size: 2em;
  color: rgb(218, 144, 131);
}

.fa-linkedin {
  color: royalblue;
  font-size: 2em;
  text-shadow: 2px 2px 2px black;

  margin: auto;
  padding: 0.5em 1em;
}

.fa-github-alt {
  font-size: 2em;
  color: black;
  text-shadow: 2px 2px 2px white;

  margin: auto;
  padding: 0.5em 1em;
}

.fa-instagram {
  font-size: 2em;
  color: blueviolet;
  text-shadow: 2px 2px 2px rgb(251, 5, 141);

  margin: auto;
  padding: 0.5em 1em;
}

.fa-instagram:hover {
  text-shadow: 3px 3px 3px white;
}

.fa-linkedin:hover {
  text-shadow: 3px 3px 3px white;
}

.fa-github-alt:hover {
  text-shadow: 3px 3px 3px white;
}

.fa-paperclip:hover {
  text-shadow: 5px 5px 0px red;
}

td:hover {
  background-color: #36454f;
  color: #ffa500;
}

ul:hover:hover {
  background-color: #36454f;
  color: #ffa500;
}

.fa-external-link-alt {
  color: tomato;
  font-size: 2em;
  text-shadow: 2px 2px 0px black;
}

.fa-external-link-alt:hover {
  color: royalblue;
  text-shadow: 2px 2px 0px red;
}

.fa-calendar-alt {
  color: #f75234;
  font-size: 2em;
  text-shadow: 2px 2px 0px black;
}

.fa-calendar-alt:hover {
  color: #f75234;
  text-shadow: 2px 2px 0px rgb(182, 255, 0);
}

.fa-home {
  color: #f75234;
  font-size: 2em;
  text-shadow: 2px 2px 0px black;
}

.fa-home:hover {
  color: #f75234;
  text-shadow: 2px 2px 0px rgb(182, 255, 0);
}
