
*{
    box-sizing: border-box;
}

body{
	height: 100%;
    width: auto;
}

@media only screen and (max-width: 1080px) { /*Mobile Display*/
    html {
        height: 100%;
        width: auto;
        background: url("../Resources/bg-mobile.jpg") no-repeat center center fixed;
        box-sizing: border-box;
    }

    .connect {
        position: relative;
       
        margin: auto;
        padding: 0.5em;
        text-align: center;
        letter-spacing: 1em;
    }

    hr.separator {
        border: 0.1em solid rgb(251, 5, 141);
        border-radius: 5px;
    }

    div.icebreaker {
        overflow-x: auto;
        position: relative;
        top: 2em;
        max-width: 90%;
        letter-spacing: 0.1em;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        margin: 10px auto;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 2em;
        box-sizing: border-box;
    }

    #profile img {
        max-height: 7em;
        max-width: auto;
        border-radius: 40%;
        box-sizing: border-box;
    }

    table, td {
        border: 2px solid gray;
        max-width: 10%;
        margin: auto;
        padding: 1em 1em;
        font-family: 'Galada';
        font-size: 1em;
        color: rgb(220, 220, 220);
        text-align: left;
        padding: 0.2em 1em;
    }

    th {
        max-width: 10%;
        margin: auto;
        font-family: 'Galada';
        font-size: 1em;
        color: #f4c430;
        text-align: left;
        padding: 0.2em 1em;
    }

    ul {
        margin: auto;
        font-family: 'Galada';
        font-size: 1em;
        color: #f4c430;
        text-align: left;
        padding: 0.2em 1em;
    }
}

@media only screen and (min-width: 1081px) { /*Desktop Display*/
    html {
        height: 100%;
        width: auto;
        background: url("../Resources/bg-desktop1.jpg") no-repeat center center fixed;
        box-sizing: border-box;
    }

    .connect {
        position: relative;
        left: 0em;
        margin: auto;
        padding: 0.5em;
        text-align: center;
        letter-spacing: 1em;
    }

    #profile img {
        max-height: 10em;
        max-width: auto;
        border-radius: 40%;
        box-sizing: border-box;
    }

    hr.separator {
        border: 0.1em solid rgb(251, 5, 141);
        border-radius: 5px;
    }

    div.icebreaker {
        overflow-x: auto;
        overflow-y: auto;
        position: relative;
        top: 2em;
        max-width: 70%;
        letter-spacing: 0.2em;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8);
        margin: 10px auto;
        box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        padding: 2em;
        box-sizing: border-box;
    }

    table, td {
        margin: auto;
        padding: 1em 1em;
        border: 2px solid gray;
        max-width: 80%;
        font-family: 'Galada';
        font-size: 1em;
        color: white;
        text-align: left;
        box-sizing: border-box;
    }

    th {
        border: 2px solid gray;
        max-width: 80%;
        margin: auto;
        font-family: 'Galada';
        font-size: 1em;
        color: #f4c430;
        text-align: left;
        padding: 0.2em 1em;
    }

    ul {
        margin: auto;
        font-family: 'Galada';
        font-size: 1em;
        color: #f4c430;
        text-align: left;
        padding: 0.2em 1em;
    }
}

h1 {
    font-family: 'Eater';
    font-size: 2.5em;
    font-style: italic;
    color: #eb6123;
    text-shadow: 3px 3px 2px rgb(220, 220, 220);
}

h2 {
    font-family: 'Galada';
    font-size: 2em;
    letter-spacing: 0.1em;
    font-style: italic;
    color: #f75234;
    text-shadow: 1px 1px black;
}

h3 {
    font-family: 'Galada';
    font-size: 1.25em;
    text-shadow: 1px 1px 0px black;
    color: blueviolet;
}

#player {
    width: 40%;
}

#play {
    margin: auto;
    position: relative;
    top: -1em;

    font-family: 'Galada';
    font-size: 1em;
    letter-spacing: 0.1em;
    
    color: #f75234;
    text-shadow: 1px 1px black;
}
#hello img {
    position: relative;
    top: 0.4em;
    left: 0.5em;
}

.fa-paperclip{
    font-size: 2em;
    color: tomato;
}

.fa-linkedin {
    color: royalblue;
    font-size: 2em;
    text-shadow: 2px 2px 2px black;
}

.fa-github-alt {
    font-size: 2em;
    color: black;
    text-shadow: 2px 2px 2px white;
}

.fa-instagram {
    font-size: 2em;
    color: blueviolet;
    text-shadow: 2px 2px 2px rgb(251, 5, 141);
}

.fa-instagram:hover {
    font-size: 1.5em;
    text-shadow: 3px 3px 3px red;
}

.fa-linkedin:hover {
    font-size: 1.5em;
    text-shadow: 3px 3px 3px red;
}

.fa-github-alt:hover {
    font-size: 1.5em;
    text-shadow: 3px 3px 3px red;
}

.fa-paperclip:hover {
    font-size: 1.5em;
    text-shadow: 5px 5px 0px red;
}

tr:hover {
    background-color: black;
}

ul:hover:hover {
    background-color: black;
}

.fa-external-link-alt{
    color: tomato;
    font-size: 1.5em;
    text-shadow: 2px 2px 0px black;
}

.fa-external-link-alt:hover {
    color: royalblue;
    font-size: 2em;
    text-shadow: 2px 2px 0px red;
}

.fa-calendar-alt{
    color: #f75234;
    font-size: 1.5em;
    text-shadow: 2px 2px 0px black;
}

.fa-calendar-alt:hover {
    color: #f75234;
    font-size: 2em;
    text-shadow: 2px 2px 0px rgb(182, 255, 0);
}

.fa-home {
    color: #f75234;
    font-size: 1.5em;
    text-shadow: 2px 2px 0px black;
}

.fa-home:hover {
    color: #f75234;
    font-size: 2em;
    text-shadow: 2px 2px 0px rgb(182, 255, 0);
}
