/*
    ACM WebMentorship Drive, Task-1. Dt:/29-10-20/
    ~Dibyasom Puhan.
*/

*{
    box-sizing: border-box;
}

body{
	height: 100%;
    width: auto;
}

@media only screen and (max-width: 1080px) { /*Mobile Display*/
    html {
        height: 100%;
        width: auto;
        background: url("../Resources/bg-mobile.jpg") no-repeat center center fixed;
        box-sizing: border-box;
    }

    .connect {
        position: relative;
       
        margin: auto;
        padding: 0.5em;
        text-align: center;
        letter-spacing: 1em;
    }

    hr.separator {
        border: 0.1em solid rgb(251, 5, 141);
        border-radius: 5px;
    }
}

@media only screen and (min-width: 1081px) { /*Desktop Display*/
    html {
        height: 100%;
        width: auto;
        background: url("../Resources/bg.gif") no-repeat center center fixed;
        box-sizing: border-box;
    }

    .connect {
        position: relative;
        left: 5em;
        margin: auto;
        padding: 0.5em;
        text-align: center;
        letter-spacing: 1em;
    }

    hr.separator {
        border: 0.1em solid rgb(251, 5, 141);
        border-radius: 5px;
    }
}

#profile img {
    margin: 2px 2px;
    border: 0.1em inset grey;
    box-shadow: 0.3em 0.3em 0.3em rgb(250, 118, 42);
    padding: 0em;
    float: left;
    height: 15em;
    width: auto;
    border-radius: 40%;
    box-sizing: border-box;
}

h1 {
    font-family: 'Eater';
    font-size: 2.5em;
    font-style: italic;
    color: #030c6b;
    text-shadow: 7px 7px 2px #f75234;
}

h2 {
    font-family: 'Galada';
    font-size: 1.5em;
    font-style: italic;
    text-shadow: 1px 1px rgba(190, 0, 254, 0.7);
}

h3 {
    font-family: 'Galada';
    font-size: 1.25em;
    text-shadow: 1px 1px 0px #f75234;
}

p {
    margin: auto;
    font-family: 'Galada';
    font-size: 1em;
    text-align: left;
    color: black;
    padding: 0.2em 1em;
}

#hello img {
    position: relative;
    top: 0.4em;
    left: 0.5em;
}

div.icebreaker {
    position: relative;
    top: 2em;
    max-width: 70%;
    min-height: 20em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 10px auto;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 2em;
    box-sizing: border-box;
}

div.card1 {
    position: relative;
    top: 2em;
    max-width: 70%;

    text-align: center;
    background-color: rgba(255, 255, 150, 0.6);
    margin: 10px auto;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 2em;
    box-sizing: border-box;
}

div.card2 {
    position: relative;
    top: 2em;
    max-width: 70%;
   
    text-align: center;
    background-color: rgba(255, 255, 150, 0.6);
    margin: 10px auto;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 2em;
    box-sizing: border-box;
}

div.card {
    position: relative;
    top: 30px;
    text-align: center;
    color: white;
    margin: auto 30px;
    padding: 25px;
    background-image: url("CSS-Resources/bg1.jpg");
    box-shadow: 0px 0px 30px rgba(190, 0, 254, 0.7);
    border-radius: 10px;
}

.fa-linkedin {
    color: royalblue;
    font-size: 2em;
    text-shadow: 2px 2px 2px white;
}

.fa-github-alt {
    font-size: 2em;
    color: black;
    text-shadow: 2px 2px 2px white;
}

.fa-instagram {
    font-size: 2em;
    color: blueviolet;
    text-shadow: 2px 2px 2px rgb(252, 153, 45);
}

.fa-instagram:hover {
    font-size: 1.5em;
    text-shadow: 3px 3px 3px red;
}

.fa-linkedin:hover {
    font-size: 1.5em;
    text-shadow: 3px 3px 3px red;
}

.fa-github-alt:hover {
    font-size: 1.5em;
    text-shadow: 3px 3px 3px red;
}